<!-- advertisement -->
<!--
<section class="advertisement">
    <div class="advertisement-cotainer container">
        <p class="text-advertisement"><span class="sale-advertisement">Discount up to 40%!</span> Taste the vitamins and
            keep your health</p>
    </div>
</section>-->

<section class="advertisement">
  <div class="container">
    <h2 class="visually-hidden">advertisement</h2>
    <p class="adv-text">
      <span class="adv-text-title">Discount up to 40%!</span
      ><span class="adv-text-descr"
        >Taste the vitamins and keep your health</span
      >
    </p>
  </div>
</section>
