<!-- footer -->
<footer class="footer-ivan">
    <div class="footer-container container">
        <div class="logo-nav-address">
            <!-- 1 -->
            <div class="logo-ivan">
            <ul class="icons-list-footer">
                <li class="icons-list-item-footer">
                    <a class="icon-footer" href="#">
                        <svg class="icon-mob-footer" width="16" height="16">
                            <use href="./img/symbol-defs.svg#icon-icon-mob"></use>
                        </svg></a>
                </li>
                <li class="icons-list-item-footer">
                    <a class="icon-footer" href="#">
                        <svg class="icon-logo-mob-footer" width="146" height="12">
                            <use href="./img/symbol-defs.svg#icon-logo-mob"></use>
                        </svg></a>
                </li>
            </ul>
                <p class="footer__text-ivan">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                    choice.
                </p>
            </div>
            <!-- 2 -->
            <div class="nav-ivan">
                <nav class="nav-list-ivan">
                    <ul class="nav-list-footer-ivan">
                        <li class="nav-footer">how it works</li>
                        <li class="nav-footer">vegetables</li>
                        <li class="nav-footer">reviews</li>
                    </ul>
                </nav>
                <!-- 3 -->
                <address class="footer-contacts-ivan">
                    <ul class="footer-contacts-list">
                        <li class="footer-contacts-nav">
                            <a class="footer-contacts-link" href="tel:+380684439426">+380 (68) 443-94-26</a><br />
                        </li>
                    </ul>
                    <p class="footer-contacts-link">1678 S. Pioneer Road Salt<br />
                        Lake City UT 84104<br /></p>
                </address>
            </div>
        </div>
        <!-- 4 -->
        <div class="style-the-end-block">
            <ul class="ul-list-footer">
                <li class="style-the-a">
                    <a class="style-the-end" href="#">Privacy Policy</a>
                    <p class="style-the-end check">/</p>
                    <a class="style-the-end" href="#">Cookie settings</a>
                </li>
            </ul>
            <p class="style-the-end-green">©Green Harvest 2023</p>
        </div>
    </div>
</footer>