<!--Bilobabko-->
<header class="header">
  <div class="header-container">
    <ul class="icons-list">
      <li class="icons-list-item">
        <a class="icon-header" href="">
          <svg class="icon-mob" width="16" height="16">
            <use href="./img/symbol-defs.svg#icon-icon-mob"></use>
          </svg>
        </a>
      </li>
      <li class="icons-list-item">
        <a class="icon-header" href="">
          <svg class="icon-logo-mob" width="148" height="12">
            <use href="./img/symbol-defs.svg#icon-logo-mob"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="flex-menu">
      <div class="mob-none">
        <nav class="header-nav">
          <div class="header-buttons">
            <ul class="header-nav-list">
              <li class="header-nav-item">
                <a class="header-nav-btn">How It Works</a>
              </li>
              <li class="header-nav-item">
                <a class="header-nav-btn">Vegetables</a>
              </li>
              <li class="header-nav-item">
                <a class="header-nav-btn">Reviews</a>
              </li>
            </ul>
          </nav>
          <button class="shop-btn">Shop now</button>
        </div>
      </div>
      <!-- <button type="button" class="but-menu-open"> -->
        <svg class="menu-open-icon" width="32" height="32" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.66663 10H33.3333M6.66663 20H20M6.66663 30H33.3333" stroke="#FBFBFB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
      <!-- </button> -->
  </div>
</header>
