<!--Eugeniy-->

<section class="hero">
  <div class="container hero-content">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <p class="hero-text">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>
  </div>
  <div class="hero-img-container">
    <picture class="hero-image-picture">
      <source
        srcset="/img/hero/hero-desktop-2x.jpg"
        media="(min-width: 1158px)"
      />
      <source srcset="/img/hero/hero-tab-2x.jpg" media="(min-width: 768px)" />
      <source srcset="/img/hero/hero-mob-2x.jpg" media="(min-width: 320px)" />
      <img
        src="./img/hero/hero-mob.jpg"
        alt="vegetables"
        class="hero-image"
        width="650"
        height="800"
      />
    </picture>
  </div>
</section>
