<section>
  <div class="container how-it-made">
    <h2 class="visually-hidden">How it's made</h2>
    <div class="how-it-made-img">
      <div class="made-img">
        <img
          class="made-img-content"
          src="./img/how-it-work-img/how_it_work@1.jpg"
          srcset="./img/how-it-work-img/how_it_work@2.jpg 2x"
          alt="how_it_made"
        />
      </div>
    </div>
    <div class="made-text-container">
      <div class="vegetable-order">
        <h3 class="vegetable-order-title">
          To order your <span class="vegetable-span">vegetable</span> basket,
          simply follow these <span class="vegetable-span">easy steps</span>
        </h3>
        <p class="vegetable-order-title-item">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home.
        </p>
      </div>
      <div class="veg-list-cont">
        <ol class="vegetable-order-list">
          <li class="vegetable-order-item">
            <p class="veg-item-p">
              Just choose <span class="veg-item-span">the vegetable</span> you
              want to order by clicking on the checkboxes
              <span class="veg-item-span">next to it</span>.
            </p>
          </li>
          <li class="vegetable-order-item">
            <p class="veg-item-p">
              Click on <span class="veg-item-span">the basket</span> and fill
              out the form.
            </p>
          </li>
          <li class="vegetable-order-item">
            <p class="veg-item-p">
              Sit back and relax! Your
              <span class="veg-item-span">fresh vegetables</span> basket will be
              delivered.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
