<!--Diana-->
<!--_____________________________________________MOBILE_________MENU_____________________________________________-->
<!--Backdrop and mobile-menu classes is awalible (is-open)-->
<div class="backdrop">
  <div class="mobile-menu">
    <div class="modal container">
      <button type="button" class="modal-btn">
        <svg
          class="modal-close-icon-mini"
          width="32"
          height="32"
          aria-label="close-icon"
        >
          <use href="./img/symbol-defs.svg#icon-close-menu-mob"></use>
        </svg>
        <svg
          class="modal-close-icon-big"
          width="40"
          height="40"
          aria-label="close-icon"
        >
          <use href="./img/symbol-defs.svg#icon-close-menu-tab"></use>
        </svg>
      </button>
      <ul class="modal-menu">
        <li class="modal-menu-item">
          <a
            href="#how-it-works"
            class="modal-menu-link"
            aria-label="go to section How It Works"
            >How It Works</a
          >
        </li>
        <li class="modal-menu-item">
          <a
            href="#vegetables"
            class="modal-menu-link"
            aria-label="go to section Vegetables"
            >Vegetables</a
          >
        </li>
        <li class="modal-menu-item">
          <a
            href="#reviews"
            class="modal-menu-link"
            aria-label="go to section Reviews"
            >Reviews</a
          >
        </li>
        <li class="modal-menu-item-shop">
          <a href="#your-order" class="modal-menu-link-shop">shop now</a>
        </li>
      </ul>
    </div>
  </div>
</div>
