<!--Zacarenko-->
<section class="vegetables">
    <div class="conteiner-vega">
       <div class="assortment">
          <h2 class="logo-vega">organic<span class="inlain">vegetables</span></h2>
          <p class="description">Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
          <ul class="vega-list">
             <li class="vega-link">
                <h3 class="products-name">eggplant</h3>
                <p class="price">60 UAH / kg</p>
                <img class="img-vega" 
                srcset="./img-vegetables-2x/eggplant-mob-2x.jpg 2x" 
                src="./img-vegetables/eggplant-mob.jpg" width="282" alt="eggplant-mob">
             </li>
             <li class="vega-link">
                <h3 class="products-name">leek</h3>
                <p class="price">50 UAH / kg</p>
                <img class="img-vega"
                srcset="./img-vegetables-2x/leek-mob-2x.jpg 2x"
                src="./img-vegetables/leek-mob.jpg" width="282" alt="leek">

             </li>
             <li class="vega-link">
                <h3 class="products-name">mushrooms</h3>
                <p class="price">40 UAH / kg</p>
                <img class="img-vega"
                srcset="./img-vegetables-2x/mushrooms-mob-2x.jpg 2x"
                src="./img-vegetables/mushrooms-mob.jpg" width="282" alt="mushrooms">

             </li>
             <li class="vega-link">
                <h3 class="products-name">corn</h3>
                <p class="price">60 UAH / kg</p>
                <img class="img-vega" 
                srcset="./img-vegetables-2x/corn-mob-2x.jpg 2x"
                src="./img-vegetables/corn-mob.jpg" width="282" alt="corn">

             </li>
             <li class="vega-link">
                <h3 class="products-name">sweet potatoes</h3>
                <p class="price">50 UAH / kg</p>
                <img class="img-vega" 
                srcset="./img-vegetables-2x/sweet-potatoes-mob-2x.jpg 2x"
                src="./img-vegetables/sweet-potatoes-mob.jpg" width="282" alt="sweet-potatoes">

             </li>
             <li class="vega-link">
                <h3 class="products-name">carrot</h3>
                <p class="price">40 UAH / kg</p>
                <img class="img-vega"
                srcset="./img-vegetables-2x/carrot-mob-2x.jpg 2x"
                src="./img-vegetables/carrot-mob.jpg" width="282" alt="carrot">

             </li>
          </ul>
        </div>
    </div>




 </section>