<!--Solia-->
<section class="your-order-section">
  <div class="order-container container">
    <h2 class="your-order-title">
      Fresh <span class="your-order-title-harvest">Harvest</span> Box has got
      you covered
    </h2>
    <p class="your-order-text">
      Our boxes are packed with delicious, nutritious vegetables, perfect for
      anyone looking to eat healthier or support local farmers. Order your box
      today and start enjoying the best that nature has to offer!
    </p>
    <div class="order-wrap">
      <form class="your-order-form">
        <p class="form-text">
          Ordering <span class="form-text-from-us">from us</span> is quick and
          easy! Fill out <span class="form-text-the-form">the form</span> below
          and we will contact you !
        </p>
        <div class="form-field">
          <input
            type="text"
            name="user-name"
            class="form-input"
            placeholder="Full Name"
            required
          />
          <input
            type="email"
            name="user-email"
            class="form-input input-email"
            placeholder="Email"
            required
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <textarea
            name="user-comment"
            class="form-input form-textarea"
            placeholder="Comment"
            required
          ></textarea>
        </div>
        <button type="submit" class="form-btn">Send</button>
      </form>
      <div class="order-thumb">
        <picture>
          <source
            srcset="
              ../img/your-order-img/order-img-desktop-2x.jpg 2x,
              ../img/your-order-img/order-img-desktop.jpg    1x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/your-order-img/order-img-tab-2x.jpg 2x,
              ../img/your-order-img/order-img-tab.jpg    1x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/your-order-img/order-img-mob-2x.jpg 2x,
              ../img/your-order-img/order-img-mob.jpg    1x
            "
            media="(min-width: 375px)"
          />
          <img
            src="../img/your-order-img/order-img-mob.jpg"
            alt="A woman making a smoothie"
            class="your-order-img"
          />
        </picture>
        <p class="social-networks-text">Follow us on our social networks:</p>
        <ul class="social-networks-list list">
          <li class="social-networks-item">
            <a
              class="social-networks-link link"
              href="https://www.instagram.com/goitclub/"
              >instagram</a
            ><span class="social-networks-link"> /</span>
          </li>
          <li class="social-networks-item">
            <a
              class="social-networks-link link"
              href="https://www.facebook.com/goITclub/"
            >
              facebook</a
            ><span class="social-networks-link"> /</span>
          </li>
          <li class="social-networks-item">
            <a
              class="social-networks-link link"
              href="https://www.youtube.com/c/GoIT"
              >youtube</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
