/*Ivan*/
.footer-container {
    padding: 40px 20px;
}



@media screen and (min-width: 768px) {

    .footer-container {
        padding: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        padding: 50px 100px;
    }
}

.footer-ivan {
    background-color: #7A3145;

}

/* 1 */


.icon-footer {
    stroke: transparent;
    fill: #fbfbfb;
    color: #fff;
}

.icons-list-footer {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 14px;
}

.footer__text-ivan {
    line-height: 18px;
    color: #fbfbfb;
    width: 296px;
    margin-bottom: 40px;
}

/* 2 */
.nav-footer {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    color: #fbfbfb;
    margin-bottom: 14px;
}

.nav-list-ivan {
    margin-bottom: 40px;
}

/* 3 */
.footer-contacts-link {
    font-style: normal;
    /* увага ! font-style: normal мені зробив інший шрифт*/
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #fbfbfb;
}

.footer-contacts-ivan {
    margin-bottom: 80px;
}

.footer-contacts-nav {
    margin-bottom: 14px;
}

/* 4 */
.style-the-end-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.style-the-end {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    text-align: start;
    text-wrap: nowrap;

}

.style-the-end-green {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: rgba(251, 251, 251, 0.5);
    text-align: left;
    text-wrap: nowrap;
}

.check {
    margin-right: 8px;
    margin-left: 8px;
}

.style-the-a {
    display: flex;
    text-align: start;
}


/* !!!!!!!!!! */


@media screen and (min-width: 768px) {

    /* footer */
    .logo-nav-address {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-list-footer-ivan {
        margin-bottom: 64px;
    }

    .icon-mob-footer {
        width: 18px;
        height: 18px;
        gap: 8px;
    }

    .icon-logo-mob-footer {
        width: 168px;
        height: 15px;
    }

    .footer__text-ivan {
        font-size: 16px;
        line-height: 20px;
    }

    .nav-footer {
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 25px;
    }

    .footer-contacts-link {
        font-size: 18px;
        line-height: 20px;
    }

    .footer-contacts-nav {
        margin-bottom: 25px;
    }

    .style-the-end {
        font-size: 18px;
        line-height: 20px;
    }

    .style-the-end-green {
        font-size: 18px;
        line-height: 20px;
    }
}




@media screen and (min-width: 1280px) {


    /* footer */
    .nav-ivan {
        display: flex;
        gap: 121px;
    }

    .nav-list-ivan {
        margin-bottom: 125px;
    }
}