/*Eugeniy*/
body {
  color: #fbfbfb;
  /*background: #7a3145;*/
  font-size: 16px;
  font-family: 'Inter Tight', sans-serif;
}
.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  margin: 0;
  padding-top: 48px;
  padding-bottom: 20px;
}
.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  color: #fbfbfb;
  padding-bottom: 40px;
  margin: 0;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #576f35;
  height: 777px;
  background-image: url(../img/hero/hero-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 375px 370px;
}

@media (min-width: 320px) {
  .hero-content {
    padding: 0 20px;
    width: 335px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero-mob-2x.jpg);
    }
  }
}
@media (min-width: 375px) {
}
@media (min-width: 768px) {
  .hero {
    height: 1024px;
    background-image: url(../img/hero/hero-tab.jpg);
    background-size: 768px 539px;
  }

  .hero-content {
    padding: 0 32px;
    width: 704px;
  }

  .hero-title {
    font-size: 76px;
    width: auto;
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    width: auto;
    padding-bottom: 50px;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero-tab-2x.jpg);
    }
  }
}
@media (min-width: 1280px) {
  .hero {
    display: flex;
    flex-direction: row;
    height: 800px;
    background-image: url(../img/hero/hero-desktop.jpg);
    background-size: 650px 800px;
    background-position: right;
  }
  .hero-content {
    display: flex;
    padding-top: 154px;
    padding-left: 100px;
    width: 502px;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 128px;
  }

  .hero-text {
    width: 475px;
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: url(../img/hero/hero-desktop-2x.jpg);
    }
  }
}
