/*Diana*/
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: #14141466;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1)
}

.mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7a3145;
    transition: transform .25s cubic-bezier(.4, 0, .2, 1);
    transform: translate(100%)
}

.backdrop.is-open>.mobile-menu {
    transform: translate(0)
}

.modal {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-bottom: 40px;
    padding-top: 240px
}

.modal-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0
}

.modal-close-icon-mini {
    stroke: #fbfbfb
}

.modal-close-icon-big {
    display: none
}

.modal-menu {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto
}

.modal-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 251, 251, .4);
    border-radius: 12px;
    width: 115px;
    height: 42px;
    transition: color .25s cubic-bezier(.4, 0, .2, 1)
}

.modal-menu-item:hover,
.modal-menu-item:focus {
    background: #fbfbfb
}

.modal-menu-item:hover>.modal-menu-link,
.modal-menu-item:focus>.modal-menu-link {
    color: #7a3145
}

.modal-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -.02em;
    text-align: center;
    color: #fbfbfb;
    transition: color .25s cubic-bezier(.4, 0, .2, 1)
}

.modal-menu-item-shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 251, 251, .2);
    border-radius: 30px;
    width: 155px;
    height: 50px;
    margin-top: auto
}

.modal-menu-link-shop {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -.01em;
    text-transform: uppercase;
    color: #fbfbfb
}

.modal-menu-item-shop:hover,
.modal-menu-item-shop:focus {
    background: #fbfbfb
}

.modal-menu-item-shop:hover>.modal-menu-link-shop,
.modal-menu-item-shop:focus>.modal-menu-link-shop {
    color: #7a3145
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .mobile-menu {
        width: 351px;
        right: 0;
        left: auto
    }

    .modal-close-icon-mini {
        display: none
    }

    .modal-close-icon-big {
        display: block;
        stroke: #fbfbfb
    }
}

@media screen and (min-width: 1280px) {
    .backdrop.is-open {
        opacity: 0;
        visibility: hidden;
        pointer-events: none
    }
}