/*Zacarenko*/

.vegetables{
    background: #7a3145;
    padding-bottom: 80px;
    padding-top: 80px;
}

.conteiner{
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}
.conteiner-vega{
    margin: 0 auto;
}

.img-vega{
    width: 282px;
}

.logo-vega{
    display: flex;
    flex-direction: column;
    font-weight: 600;
font-size: 47px;
line-height: 1.04;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
width: 100%;
}

.inlain{
    color: rgba(251, 251, 251, 0.3);
}

.description{
    font-weight: 500;
font-size: 14px;
line-height: 1.28571;
color: #fbfbfb;
width: 100%;
text-align: left;
margin-top: 20px;
}

.vega-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
   
}

.vega-link{
 background-color: #FFF;
 border-radius: 40px;
    padding: 32px 26px;
    width: 100%;
}

.products-name{
    font-weight: 600;
font-size: 28px;
line-height: 1;
letter-spacing: -0.01em;
color: #7a3145;
margin-bottom: 12px;
}

.price{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
}

@media screen and (min-width: 375px){

    .vegetables{
        background: #7a3145;
        padding-bottom: 80px;
        padding-top: 80px;
    }
  .conteiner{
    max-width: 375px ;
    padding-left: 20px;
    padding-right: 20px;
  }

.img-vega{
    width: 282px;
}

.logo-vega{
    display: flex;
    flex-direction: column;
    font-weight: 600;
font-size: 48px;
line-height: 1.04167;
letter-spacing: -0.01em;
text-transform: uppercase;
color: #fbfbfb;
min-width: 335px;
}

.inlain{
    color: rgba(251, 251, 251, 0.3);
}

.description{
    font-weight: 500;
font-size: 13.5px;
line-height: 1.28571;
color: #fbfbfb;
width: 337px;
text-align: left;
margin-top: 20px;
}

.vega-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
   
}

.vega-link{
 background-color: #FFF;
 border-radius: 40px;
    padding: 32px 26px;
    width: 100%;
}

.products-name{
    font-weight: 600;
font-size: 28px;
line-height: 1;
letter-spacing: -0.01em;
color: #7a3145;
margin-bottom: 12px;
}

.price{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
    margin-bottom: 14px;
}
}
@media screen and (min-width: 768px){

   .vegetables{
    padding: 100px 0;
   }

   .conteiner{
     max-width: 768px;
     padding-right: 32px;
    padding-left: 32px;

   }

   .conteiner-vega{
    width: 100%;
    
   }

   .logo-vega{
    font-size: 64px;
   }

   .vega-list{
    flex-direction: row;
    justify-content: center;
    gap: 28px 20px;
    flex-wrap: wrap;
   }

   .vega-link{
    width: 342px;
   }

   .description {
    width: 626px;
    margin: 0;
    margin-top: 50px;
   }

   .img-vega{
    width: 282px ;
   }
   
}

@media screen and (min-width: 1280px) {
    
    .vegetables{
        padding: 100px 0;
    }

     .conteiner{
        max-width: 1280px;
     }

     .conteiner-vega{
        width: 100%;
        padding: 0 100px;
        
     }

     .description{
        margin-top: 25px;
        font-size: 16px;
        width: 630px;
     }

     .vega-link{
        width: 346px;
     }

     .img-vega{
        margin: 0 auto;
     }
    
}